<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>注册</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- jquery -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<!-- jquery-validator -->
	<script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
	<!-- layer -->
	<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
	<!-- md5.js -->
	<script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
	<!-- common.js -->
	<script type="text/javascript" th:src="@{/js/common.js}"></script>

	<style type="text/css">
		html,body{
			height:100%;
			width:100%;
		}
		body{
			background:url('/img/bg.jpg') no-repeat;
			background-size:100% 100%;
			padding-top:100px;
		}
	</style>

</head>
<body>

<form name="registerForm" id="registerForm" method="post"  style="width:30%; margin:0 auto;">

	<h2 style="text-align:center; margin-bottom: 20px">用户注册</h2>

	<div class="form-group">
		<div class="row">
			<label class="form-label col-md-4">请输入用户名</label>
			<div class="col-md-8">
				<input id="username" name = "username" class="form-control" type="text" placeholder="用户名" required="true"  minlength="11" maxlength="11" />
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="form-label col-md-4">请输入密码</label>
			<div class="col-md-8">
				<input id="password" name="password" class="form-control" type="password"  placeholder="密码" required="true" minlength="6" maxlength="16" />
			</div>
		</div>
	</div>


	<div class="form-group">
		<div class="row">
			<label class="form-label col-md-4">请重新输入密码</label>
			<div class="col-md-8">
				<input id="repassword" name="repassword" class="form-control" type="password"  placeholder="请重新输入密码" required="true" minlength="6" maxlength="16" />
			</div>
		</div>
	</div>

	<button class="btn btn-primary btn-block"  onclick="register()">注册</button>

</form>
</body>
<script>

	function register(){
		var username =$("#username").val();
		var inputPass = $("#password").val();
		var repassword = $("#repassword").val();

		if(username==""||username==null||username == undefined ){
			alert("用户名不能为空！");
			return ;
		}
		if(inputPass==""||inputPass==null||inputPass == undefined ){
			alert("密码不能为空！");
			return ;
		}
		if (repassword==""||repassword==null||repassword == undefined ){
			alert("请输入确认密码");
			return ;
		}

		if(inputPass!=repassword){
			alert("密码不一致！");
			return;
		}

		var salt = g_passsword_salt;
		var str = ""+salt.charAt(0)+salt.charAt(2) + inputPass +salt.charAt(5) + salt.charAt(4);
		var password = md5(str);
		g_showLoading();
		$.ajax({
			url: "/register/register",
			type: "POST",
			data:{
				username:$("#username").val(),
				password: password,
				salt:salt,
			},
			success:function(data){
				layer.closeAll();
				layer.confirm("注册成功，现在去登录？", {btn:["确定","取消"]},
						function(){
							window.location.href="/index";
						},
						function(){
							layer.closeAll();
						});


				// if(data.code == 0){
				// 	layer.msg("成功");
				// 	window.location.href="/index";
				// }else{
				// 	layer.msg(data.message);
				// }
			},
			error:function(){
				layer.closeAll();
			}
		});
	}
</script>
</html>