package com.aliencat.springboot.ssm.$!{cfg.abc}.service;

import com.aliencat.springboot.ssm.common.service.CommonService;
import com.aliencat.springboot.ssm.$!{cfg.abc}.entity.${entity};
import com.aliencat.springboot.ssm.$!{cfg.abc}.entity.${entity}Vo;

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName}  extends CommonService<${entity}Vo,${entity}> {

        }