.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

#upload-container, #upload-list {
    width: 500px;
    margin: 0 auto;
}

#upload-container {
    cursor: pointer;
    border-radius: 15px;
    background: #EEEFFF;
    height: 200px;
}

#upload-list {
    height: 800px;
    border: 1px solid #EEE;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
}

#upload-container > span {
    widows: 100%;
    text-align: center;
    color: gray;
    display: block;
    padding-top: 15%;
}

.upload-item {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed gray;
}

.percentage {
    height: 5px;
    background: green;
}

.btn-delete, .btn-retry {
    cursor: pointer;
    color: gray;
}

.btn-delete:hover {
    color: orange;
}

.btn-retry:hover {
    color: green;
}